# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Publish
publish/

# Accidental folder
src../
