# Custom build output
build/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Publish
publish/

.MyFolder/
#*.sln  required for multiproject workspaces